[submodule "hdl/vivado-library"]
	path = hdl/vivado-library
	url = https://github.com/ikanoano/vivado-library.git
[submodule "hdl/ArtyEtherentTX"]
	path = hdl/ArtyEtherentTX
	url = https://github.com/ikanoano/ArtyEtherentTX.git
